.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 100px;
}

.title {
  text-align: center;
}

.studentInfo {
  display: flex;
  justify-content: center;
}

.wrapper h2 {
  text-align: center;
  padding-top: 60px;
}